*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app.dark{
    background-color: #1c1c1c;
    color: #fff;
}
.app.light{
    background-color: #ffffff;
    color: #1c1c1c;
}
.toggle{
    display: flex;
    justify-content: flex-end;
}
.toggle a{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lightmode a{
    color: yellow;
}
.darkmode a{
    color: black;
}