*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app.dark{
    background-color: #1c1c1c;
    color: #fff;
}
.app.light{
    background-color: #ffffff;
    color: #1c1c1c;
}
.toggle{
    display: flex;
    justify-content: flex-end;
}
.toggle button{
    height: 40px;
    width: 40px;
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.button.lightmode{
    background-color: grey;
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
}
.button.darkmode{
    background-color: yellow;
    color: black;
    font-size: 15px;
    font-weight: bolder;
}